.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 1s linear;
  height: 50px;
}

.App-header {
  background-color: #999;
  height: 250px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
  color: white
}

.navbar {
  margin: 0px;
}

.sign-in {
  border: 2px solid;
  border-radius: 3px;
}

@keyframes App-logo-spin {
  from { transform: rotate(-90deg); }
  to { transform: rotate(270deg); }
}
